{% extends 'base_temp.html' %}

{% block title %}
    Меню
{% endblock%}


{% block body %}
    <img src="/media/images/restful_routes.png" class="img-fluid" alt="...">
    <img src="/media/images/restful_routes.png" class="img-thumbnail" alt="img 200x200">

    <div class="card" style="width: 18rem;">
      <img src="/media/images/restful_routes.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
{% endblock%}